

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('img7.jpg');
  background-size:cover;
  background-repeat: no-repeat;
background-position: center;

        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode:both;
        animation-fill-mode:both;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction:alternate;
        animation-direction:alternate;              
}

@-webkit-keyframes slidein {
from {background-position: -700; ; }
to {background-position:left}
}

@keyframes slidein {
from {background-position:-700px;  }
to {background-position:left; }

}


     
     
     
     
     

     
     
     
     
      
      
      
      

#selectiontagbackground{

      
      position: sticky;

      margin-top: 100px;
      margin-left: 30px;
      margin-right: 30px;
      border-radius: 20px;
  
    
      
}

#selectiontag{

    
    
   
    
     

      font-size: 50px;
      font-family: Times;
      text-align:left;
    

      -webkit-text-fill-color: transparent;
      background: linear-gradient(20deg,cyan,magenta);
      -webkit-background-clip: text;
      background-clip: text;

}






.container{
      width: 5000px;
    margin-top: 30px;
      position: relative;
      display: flex;
      justify-content:space-between;
      flex-wrap:wrap;
    
    }
    
    .container .card{
      position: relative;
      background-color: transparent;
     border: transparent;
      margin-top: 10px;
      margin-bottom: 30px;
      opacity: 0.95;
    
    }
    
    .container .card .face{
      width:300px;
      height: 200px;
      transition:.4s;
 font-size: 20px;
 font-family:fangsong;
 letter-spacing: 2px;
      border-radius: 20px;
    }
    
    .container .card .face.face1{
      border-radius: 10px;
      position: relative;
      color: black;
      background:linear-gradient(30deg,rgb(6, 195, 170),rgb(69, 121, 217));
      display: flex;
      justify-content:space-evenly;
      align-content:center;
      align-items: center;
      z-index: 1;
      transform: translateY(100px);
    }
    
    .container .card:hover .face.face1{
      transform: translateY(0);
      border-radius: 10px;
      box-shadow:
 
      
      
       
       
        0 0 50px #fff,
        -10px 0 80px rgb(145, 127, 21),
        10px 0 80px white;

    
       
    }
    
    
    .container .card .face.face1 .content{
 
      transition:  0.8s;
      text-align: center;
      
       
      
      
     
    
    }
    
    .container .card:hover .face.face1 .content{
      opacity: 1;
     
    }
    
    .container .card .face.face1 .content i{
      font-size: 3em;
      color: white;
      display: inline-block;
      opacity: 1;
    }
    
    .container .card .face.face1 .content h3{
      font-size: 1em;
      color: white;
      text-align: center;
      
    
    }
    
    .container .card .face.face1 .content a{
       transition: .5s;
    }
    
    .container .card .face.face2{
       position: relative;
       background: whitesmoke;
       display: flex;
       align-items:last baseline;
       justify-content: center;
       padding: 20px;
      box-sizing:border-box;
      box-shadow: 0 20px 50px rgba(0,0,0,.8);
      transform: translateY(-100px);
      border-radius: 15px;
    }
    
    .container .card:hover .face.face2{
        transform: translateY(-100);
    
    
    }
    
    .container .card .face.face2 .content p, a{
     
      margin: 0 ;
      padding: 0;
      color:#333;
    }
    
    .container .card .face.face2 .content a{
      text-decoration:none;
      background-color: #333;
      color: whitesmoke;
      box-sizing: border-box;
 
      padding: 10px 20px 10px 20px;
      margin: 15px;
      display: inline-block;
      font-size: 20px;
    }
    
    .container .card .face.face2 .content a:hover{
      background: whitesmoke ;
      color:#333; 
      box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    }
    

   
   

   